/* Ajout de police */
@font-face 
{
    font-family: 'Madani';
    src: url(Fonts/MadaniArabicDEMO-Bold.otf) format(truetype); 
}

/* Ajout de police */
@font-face 
{
    font-family: 'Mustica';
    src: url(Fonts/MadaniArabicDEMO-Regular.otf) format(truetype);
}

/* Ajout d'animation */
@keyframes anim
{
    from {top: -50px; opacity: 0;}
    to {top: 0px; opacity: 1;}
}

/* Modification du tout */
body 
{
    margin: 0;
    background-color: #181818;
}


.loader
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 9999;
    overflow: hidden;
}

.pillar
{
    flex: 1;
    background: white;
    border-right: 1px solid #c4c4c4;
}

.pillar:last-child
{
    border-right: none;
}


























.Logo
{
    text-align: left;
    height: 4%;
    width: 70px;
    border-radius: 20px;  
    margin-left: 1%;
    margin-right: 60%;
}

/* Ajout de la bannière */
header 
{
    background-image: url("");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 350px;
}


/* Modification des textes H2 (Message Bienvunue) */
h2
{
    font-family: 'Madani';
    font-size: 60px;
    margin-top: 0;
}

/**/
.HoverMenu,
.ActiveMenu {
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-bottom: 5px;
}

.HoverMenu::after,
.ActiveMenu::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.ActiveMenu::after {
    transform: translateX(-50%) scaleX(1);
}

.HoverMenu:hover::after {
    transform: translateX(-50%) scaleX(1);
}

/* Modification du menu de navigation */
nav 
{
    
    background-color: #181818;
    padding: 0px;
    
}

/* Modification des UL dans le menu de navigation */
nav ul 
{
    display: flex;
    justify-content: content;
    text-align: center;
    list-style: none;
    padding-top: 30px;
    margin: 0;
    text-align: right;
}

/* Modification des LI dans le menu de navigation */
nav li 
{
    display: inline-block;
    margin: 35px 20px;
    font-family: 'Mustica';
    transition: transform 0.3s ease;
    white-space: nowrap;
}

/* Effet lors de survol sur LI dans le menu de navigation */
nav li:hover
{
    transform: scale(1.1)
}

/* Boutton Connexion */
.Connexion
{   
    font-family: 'Madani';
    background-color: rgb(255, 255, 255);
    padding: 14.5px 18px;
    border-radius: 25px;
    color: rgb(0, 0, 0);
}

/* Modification des A dans le menu de navigation */
nav a 
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Modification du contenue principale */
main 
{
    border-radius: 15px;
    background-image: url("Images/DégradéNoire.png");
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Mustica';
    background-size: 100%;
    color: white;
    

    margin-left: 7%;
    padding: 3%;
    width: 70%;
}

/* Modification de tous les Boites */
.Container
{
    display: flex;
    padding: 30px;
    font-family: 'Mustica';

    position: relative;
    animation: anim 1.2s ease-out forwards;
}

/* Modification de les boites sur la 1ère ligne */
.Box1
{

    display: flex;
    max-width: 600px;
    margin-left: 30px;
    margin-bottom: 30px;

    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.523);
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.523);

    transition: transform 0.3s ease;

    position: relative;
    animation: anim 1.6s ease-out forwards;

}

/* Effet lors de survol sur les boites */
.Box1:hover
{
    transform: scale(1.05);
}

/* Modification du boutton dans les boites */
.suivre
{
    background-color: rgb(229, 229, 229);
    color:#0f0f0f;
    text-decoration: none;
    padding: 9px 85px;
    border-radius: 15px;

    transition: transform 0.3s ease;
}

/* Modification de les boites sur la 2ème ligne */
.Box2
{

    display: flex;
    max-width: 600px;
    margin-left: 30px;
    margin-bottom: 30px;

    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.523);
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.523);

    transition: transform 0.3s ease;

    position: relative;
    animation: anim 1s ease-out forwards;

}

/* Effet lors de survol sur les boites */
.Box2:hover
{
    transform: scale(1.05);
}

/* Modification de les boites sur la 3ème ligne */
.Box3
{

    display: flex;
    max-width: 600px;
    margin-left: 30px;
    margin-bottom: 30px;

    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.523);
    box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.523);

    transition: transform 0.3s ease;

    position: relative;
    animation: anim 0.7s ease-out forwards;

}

/* Effet lors de survol sur les boites */
.Box3:hover
{
    transform: scale(1.05);
}

/* Modification du Titre et de la description dans les Boites */
.TextBox
{
    padding: 10px;
}

/* Modification des Images dans les Boites */
.ImgB
{
    height: 190px;
    width: 340px;
    border-radius: 20px;
}

/* Modification des Videos dans les Boites */
video
{
    height: 190px;
    width: 340px;
    border-radius: 20px;
}

/* Modification Pied de page */
footer 
{
    font-family: 'Mustica';
    clear: both;
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 15px;
}
